
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  position: relative;
  background-color: #3f3f3f;
  width: 100%;
  height: 100vh;
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .top {
    background-color: #3f3f3f;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      // width: 15%;
      font-size: 50px;
      margin: 0 70px;
      letter-spacing: 5px;
      background-color: black;
      border-radius: 15px;
      padding: 10px 15px;
      color: yellow;
    }
  }
}

main {
  .mainContent {
    width: 100%;
    display: flex;
    // background: rgb(32, 27, 32);
    // background: linear-gradient(
    //   90deg,
    //   rgba(32, 27, 32, 0.8687850140056023) 15%,
    //   rgba(247, 0, 0, 1) 100%
    // );
    flex-direction: column;
    .create {
      margin-top: 15px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-content: center;
      margin-left: 10%;
      .title {
        font-family: Georgia, "Times New Roman", Times, serif;
        background-color: black;
        width: 50%;
        color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border-radius: 20px 20px 0 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media (max-width: 600px) {
          width: 62%;
          font-size: 12px;
        }
      }
    }
  }
}
.form {
  display: flex;
  justify-content: space-between;

  gap: 20px;
  flex-wrap: wrap;
  width: 50%;
  border: 2px solid blue;
  padding: 20px 30px;
  background: rgb(120, 116, 115);
  background: linear-gradient(
    97deg,
    rgba(120, 116, 115, 1) 16%,
    rgba(80, 63, 63, 0.989233193277311) 43%
  );
  border-radius: 0 0 20px 20px;
  border: 1px solid black;
  @media (max-width: 950px) {
    flex-direction: column;
    padding: 10px 15px;
  }
  @media (max-width: 600px) {
    width: 62%;
    gap: 5px;
  }

  // box-shadow: 5px 10px 8px #888888;
  .input {
    font-size: 1.2em;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    @media (max-width: 950px) {
      width: 90%;
      margin-left: 5%;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 600px) {
      width: 90%;
      margin-left: 5%;
      justify-content: center;
      align-items: center;
    }
    label {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 14px;
    }
    .check {
      display: flex;
      gap: 20px;
    }
    select {
      width: 100%;
      height: 1.8rem;
      border-radius: 10px;
    }
    input {
      width: 100%;
      line-height: 1.5rem;
      border-radius: 10px;
    }

    input[type="checkbox"] {
      position: relative;

      outline: none;
      appearance: none;
      border-radius: 7px;
      background-color: aliceblue;
      border: 1px solid black;
      color: #3f3f3f;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 1px;
        left: 6px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: #3f3f3f;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }
      &:checked {
        color: white;
        border-color: yellow;
        background-color: yellow;
        &::before {
          opacity: 1;
        }
      }
    }
    .input-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      @media (max-width: 600px) {
        margin: 0;
      }
    }

    .btn {
      width: 100px;
      display: flex;
      justify-content: center;
      padding: 7px 10px;
      border-radius: 20px;
      font-size: 15px;
      background-color: #3f3f3f;
      color: yellow;
      font-weight: 550;
      @media (max-width: 600px) {
        width: 80px;
      }
      cursor: pointer;
      &:hover {
        background: rgb(236, 225, 0);
        background: linear-gradient(
          97deg,
          rgba(236, 225, 0, 0.989233193277311) 24%,
          rgba(190, 149, 0, 1) 66%
        );
        color: black;
        border: 2px solid black;
      }
    }
  }
}
.list {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;

  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 10%;
  @media (max-width: 730px) {
    width: 92%;
    margin-left: 4%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50px;
    background-color: black;
    color: yellow;
    margin-left: 30px;
    border-radius: 10px 10px 0 0;

    @media (max-width: 640px) {
      font-size: 12px;
      height: 40px;
      text-align: center;
    }
  }
}
.category {
  width: 100%;
  height: 40px;
  display: flex;

  background-color: #3f3f3f;
  border-radius: 15px 15px 0 0;
  border: 2px solid black;
  border-bottom: none;
  color: yellow;
  padding: 5px;
  background: rgb(120, 116, 115);
  background: linear-gradient(
    90deg,
    rgba(120, 116, 115, 1) 16%,
    rgba(80, 63, 63, 0.989233193277311) 43%
  );

  .categoryTwo {
    // margin-left: 10px;
    display: grid;
    width: 100%;

    p {
      align-self: center;
      word-wrap: break-word;
      align-self: center;
      text-align: center;
      word-wrap: break-word;
    }

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr 2fr;

    @media (max-width: 640px) {
      font-size: 12px;
    }
    @media (max-width: 450px) {
      font-size: 10px;
    }
  }

  .sortBy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    @media (max-width: 640px) {
      font-size: 12px;
    }
    @media (max-width: 450px) {
      font-size: 10px;
    }
    .sortEnd {
      display: flex;
      justify-content: flex-end;
      gap: 3px;
      @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.list {
  .listScooter {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    border: 2px solid black;
    background-color: #3f3f3f;
    width: 100%;
    color: yellow;

    list-style-type: none;
    background: rgb(120, 116, 115);
    background: linear-gradient(
      90deg,
      rgba(120, 116, 115, 1) 16%,
      rgba(80, 63, 63, 0.989233193277311) 43%
    );

    li {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;

      li:last-of-type {
        border-bottom: none;
      }
      // gap:5px;

      .scooter {
        padding: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 640px) {
        }
        .scooterOne {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr 2fr;
          width: 100%;
          word-wrap: break-word;
          align-self: center;
          text-align: center;
          justify-self: center;
          word-wrap: break-word;
          @media (max-width: 640px) {
            font-size: 12px;
          }
          @media (max-width: 450px) {
            font-size: 10px;
          }
          span {
            word-wrap: break-word;
          }
          .check {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .isbusy {
          color: green;
          font-weight: 700;
        }
        .nobusy {
          color: crimson;
          font-weight: 700;
        }
      }
      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: flex-end;
        gap: 5px;

        // @media (max-width: 640px){
        //   gap: 3px;
        //   flex-direction: column;

        // }
        button {
          padding: 5px 10px;
          border-radius: 20px;
          cursor: pointer;
          @media (max-width: 640px) {
            padding: 7px;
            border-radius: 13px;
            font-size: 8px;
          }
          @media (max-width: 400px) {
            font-size: 6px;
          }
        }
        .view {
          background: rgb(13, 122, 53);
          background: linear-gradient(
            90deg,
            rgba(120, 122, 13, 0.992) 36%,
            rgb(208, 241, 147) 100%
          );
        }
        .edit {
          background: rgb(13, 122, 53);
          background: linear-gradient(
            90deg,
            rgba(13, 122, 53, 0.9920343137254902) 36%,
            rgba(147, 241, 154, 1) 100%
          );
        }
        .delete {
          background: rgb(122, 13, 13);
          background: linear-gradient(
            90deg,
            rgba(122, 13, 13, 0.9920343137254902) 23%,
            rgba(246, 117, 84, 1) 100%
          );
        }
      }
    }
  }
}
.list {
  .bottom {
    background-color: #3f3f3f;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 0 15px 15px;
    border: 1px solid black;
    border-top: none;
    background: rgb(120, 116, 115);
    background: linear-gradient(
      90deg,
      rgba(120, 116, 115, 1) 16%,
      rgba(80, 63, 63, 0.989233193277311) 43%
    );
    p {
      margin-left: 30px;
      display: flex;
      flex-wrap: wrap;
      color: yellow;
      padding: 10px;
      @media (max-width: 640px) {
        font-size: 12px;
      }
    }
  }
}

.input.none {
  display: none;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 78, 78, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  .edit {
    // margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    // margin-left: 10%;
    .title {
      font-family: Georgia, "Times New Roman", Times, serif;
      background-color: black;
      width: 250px;
      color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px 10px 10px 10px;
      border-radius: 20px 20px 0 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      // flex-wrap: wrap;
      width: 250px;
      border: 2px solid blue;
      padding: 20px 30px;
      background-color: grey;
      border-radius: 0 0 20px 20px;
      border: 1px solid black;

      // box-shadow: 5px 10px 8px #888888;
      .input {
        font-size: 1.2em;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        .check {
          display: flex;
          justify-content: space-between;
        }
        select {
          width: 100%;
          height: 1.8rem;
          border-radius: 10px;
        }
        input {
          width: 100%;
          line-height: 1.5rem;
          border-radius: 10px;
        }

        input[type="checkbox"] {
          position: relative;
          outline: none;
          appearance: none;
          border-radius: 7px;
          background-color: aliceblue;
          border: 1px solid black;
          color: #3f3f3f;
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
          &::before {
            position: absolute;
            content: "";
            display: block;
            top: 1px;
            left: 6px;
            width: 8px;
            height: 14px;
            border-style: solid;
            border-color: #3f3f3f;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
          }
          &:checked {
            color: white;
            border-color: yellow;
            background-color: yellow;
            &::before {
              opacity: 1;
            }
          }
        }
        .input-btn {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .edit:hover {
            background: rgb(13, 122, 53);
            background: linear-gradient(
              90deg,
              rgba(13, 122, 53, 0.9920343137254902) 36%,
              rgba(147, 241, 154, 1) 100%
            );
            color: black;
            border: 2px solid black;
          }
          .cancel:hover {
            background: rgb(122, 13, 13);
            background: linear-gradient(
              90deg,
              rgba(122, 13, 13, 0.9920343137254902) 23%,
              rgba(246, 117, 84, 1) 100%
            );
            color: black;
            border: 2px solid black;
          }
          .btn {
            display: flex;
            justify-content: center;
            width: 45%;

            padding: 7px 10px;
            border-radius: 20px;
            font-size: 15px;
            background-color: #3f3f3f;
            color: yellow;
            font-weight: 550;
            cursor: pointer;
            .editLink{
              text-decoration: none;
              color: yellow;
            }
            .editLink:hover{
              color:black
            }
          }
        }
      }
    }
  }
}
main {
  .link {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    .linkRoute {
      background-color: black;
      text-decoration: none;
      padding: 20px 30px;
      border-radius: 20px;
      text-transform: uppercase;
      border: 2px solid black;
      box-shadow: 2px 4px 1px #888888;
    }
  }
}
main {
  .choco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    .font {
      position: absolute;
      top: 0%;
      left: 100%;
      transform: translate(-50%, -50%);
      background-color: red;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: black;
    }
    img {
      width: 250px;
      height: 200px;
    }
    .content {
      display: flex;
      align-items: left;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      h2 {
        text-transform: capitalize;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
main {
  .popUp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // .font {
    //   position: absolute;
    //   top: 7%;
    //   left: 61%;
    //   transform: translate(-50%, -50%);
    //   background-color: red;
    //   height: 20px;
    //   width: 20px;
    //   border-radius: 50%;
    //   color: black;
    //   cursor: pointer;
    // }
  }

}